@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PortfolioNET.Models.Blog>

@{
    ViewData["Title"] = "Post - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>

<script type="text/javascript">
      $(document).ready(function() {
           $("form").submit(function(event) {
            event.preventDefault();
            $("#result").empty();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                url: '@Url.Action("")',
                success: function (result) {
                  console.log(result);
                  result.forEach(function (starred) {
                      $("#result").append("<div class='well col-md-3'><h3>"
                          + starred.Name + "</h3 > <p>" + starred.Html_url+"</p></div >")
                    });
                }
              });
            });

        $("form").submit();
      });
</script>

<div class="jumbotron">
    <h1>Gyles Batara</h1>
    <h2>Junior Web Developer</h2>
</div>

@using (Html.BeginForm())
{ }

    <div id="result" class='row'>

    </div>

    <div class="well">
        <h4>
            I am about to graduate from Epicodus in Seattle with 1,000 hours of hands-on experience learning coding and building full-stack web applications from scratch.
        </h4><br />
    </div>

    <div class="experiences">
        <h2>Experiences</h2>
        <div class="well">
            <h3>Epicodus</h3>
            <h5><strong>Web Development</strong> || C#/ JavaScript/ .NET Track</h5>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                    <ul>
                        <li>Learnt the underlying mechanics of full-stack web applications </li>
                        <li>Successfully built over 100 applications from scratch in less than 6 months.</li>
                        <li>Trained to utilise standard industry tools to build and deploy applications.</li>
                        <li>Fostered strong teamwork amongst a diverse group of programmers in a highly collaborative environment.</li>
                    </ul>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>

        <div class="well">
                <div class="col-md-4">
                    <h4>Programming Skills</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>C#</li>
                                <li>JavaScript</li>
                                <li>AngularJS</li>
                                <li>.NET Core</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li>MySQL</li>
                                <li>Git</li>
                                <li>Atom</li>
                                <li>HTML</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
        </div>
        


            <div class="well">
                <h3>Epicodus</h3>
                <h5><strong>Student</strong> || September 2017 - Present</h5>
                <ul>
                    <li>Created a City Experiences web application that allows users to book experiences to explore and learn about a new city 

</li>
                    <li>Actively involved in the contract negotiation process with clients and stakeholders. </li>
                    <li>Facilitated team meetings to communicate project ideas and resolved disagreements amongst team members 
                    </li>
                    <li>Learned to code proficiently in 6 month's time and built 30+ applications using C# and .NET, and 80+ more in other languages such as Javascript, HTML, and CSS 

</li>
                </ul>
            </div>

            <div class="well">
                <h3>Happy Grillmore LLC / Holdat LLC </h3>
                <h5><strong>Floating Associate</strong> || June 2017 to present</h5>

                <ul>
                    <li>Worked Directly with the owners to streamline process and operations in three separate locations 
                    </li>
                    <li>Ability to prioritize and stay calm during stressful situations and peak hours 
                    </li>
                    <li>Greet repeat customers by name and turn them into loyal regulars 
                    </li>

                </ul>
            </div>

             <div class="well">
                <h3>Pilipino Unity for Progress Inc.</h3>
                <h5><strong>Co-Content Creator</strong> || October 2015 to present</h5>

                <ul>
                    <li>Helped lead the newest UniPro chapter to hold the first UniPro National Summit outside of New York City 
                    </li>
                    <li>Managed two other staff to share event with the public and engaged 150+ attendees 
                    </li>
                    <li>Experienced with conflict management and travelled nationally to represent UniPro in order to engage a crisis simulation conversation to raise awareness with various colleges in the Midwest.
                    </li>

                </ul>
            </div>

        </div>

